body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: lightpink; /* Changed to light pink */
    color: lightslategray;
}
h1, h2 {
    color: dimgray;
}
a {
    color: skyblue;
}
footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: silver;
}
